body {
    background-image: url("https://lp.mentalidadeempreendedora.com.br/wp-content/uploads/2017/06/background-azul-1024x493.png");
    background-size: auto 100vh;
    font-family: Georgia;
    height: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex; 
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: #0955ff;
    text-decoration: none; 
  }
  
  .site-title {
    text-align: center; 
    font-family: Arial;
  }
  
  .site-subtitle {
    Font-style: Italic;
    text-align: Center;
  }